@model TouristAgency.Domain.Models.EfModels.Tour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelsType.HotelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelsType.HotelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesTour.TypeTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesTour.TypeTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartNumberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartNumberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndNumberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndNumberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
