@model PagedList.IPagedList<TouristAgency.Domain.Models.EfModels.Tour>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/MyStyle.css">
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Тип отеля")
        </th>
        <th>
            @Html.DisplayName("Тип путевки")
        </th>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Цена")
        </th>
        <th>
            @Html.DisplayName("Колличество человек от")
        </th>
        <th>
            @Html.DisplayName("Колличество человек до")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelsType.HotelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypesTour.TypeTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartNumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndNumberOfPeople)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdTour }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdTour }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdTour })
            </td>
        </tr>
    }
</table>

 Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
<div class="container col-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>